# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.DS_STORE
.vscode/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# binary file
cisso-orc

# gogland files
.idea/
coverage.txt

# environment files
config.dev.yml

# integration tests
/integrationTests